<nav>
  <div class="nav-wrapper">
    <%= link_to(root_path, class: "brand-logo right") do %>
      Ashiato<%= image_tag 'foot.png', size:"36x36" %>
    <% end %>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "Top", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li></li>
      <% end %>
    </ul>
  </div>
</nav>